@media (max-width: 1200px){
	.graph_block_sec .row .col-lg-4{
		max-width: 50%;
		flex: inherit;
	}
	.filter_ratio .modal-lg{
		max-width: 1000px;
	}
	.create_responsive_table .thead{
		display: none;
	}
	.create_responsive_table tr{
		display: block;
		margin-bottom: 30px;
	}
	.create_responsive_table tr:last-child{
		margin-bottom: 0;
	}
	.create_responsive_table tr td{
		display: flex;
		position: relative;
	}
	.create_responsive_table tr td:before{
		content: attr(data-heading);
		margin-right: auto;
		font-weight: 600;
		width: 40%;
	}
}
@media (max-width: 1000px){
	.filter_ratio .modal-lg{
		max-width: 900px;
	}	
}
@media (max-width: 900px){
	.navbar-icon-list li{
		margin-right: 23px;
	}
	.logo{
		width: 180px;
	}
	.graph_block_sec .row .col-lg-4{
		max-width: 100%;
		flex: inherit;
	}
	.filter_ratio .modal-lg{
		max-width: 767px;
	}	

}
@media (max-width: 767px){
	.logo{
		width: 260px;
		margin-bottom: 20px;
	}	
	.side_Menu{
		padding-top: 108px;
		transform: translateX(-258px);
	}
	.main_content{
		padding-left: 0;
	}

	.toogle_btn_gp{
		display: inline-block !important;
	}

	.navbar-icon-list li {
	    margin-right: 19px;
	}
	.sort_details_row{
		margin-top: 30px;
		order: 1;
	}
	.logo{
		display: none;
	}
	.top_header_right_block{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@keyframes header{
		0% {
		    transform: translateY(-164px);
		}
	}
	.dropdown-menu.show{
		left: 0 !important;
	}
	.top_header.fixed .logo{
		width: 220px;
		margin-bottom: 10px;
	}
	.top_header{
		padding: 10px 0;
	}
	.main_content section{
		padding: 25px 0;
	}
	.page_title_block {
		text-align: center;
	}
	.filter_modal_btn{
		font-size: 15px;
	}
	.footer{
		padding-left: 0;
	}
	.submit_task_btn_block{
		position: relative;
    	bottom: auto;
    	margin-top: 23px;
    	left: auto;
    	right: auto;
	}

	.filter_ratio .modal-lg{
		max-width: 575px;
	}	
	.participants_member li{
		display: inline-block;
		margin: 0 15px;	
	}
	.participants_member_name{
		display: block;
		margin-left: 0;
	}
	.participants_bloack{
		text-align: center;
	}
	.participants_member{
		margin: 20px 0 0 0;
	}

}


@media (max-width: 575px){
	.top_header {
		text-align: center;
	}
	.navbar-icon-list li {
		margin: 0 12px;
	}
	.dropdown-menu.show {
	    transform: inherit !important;
	    top: 50px !important;
	    left: -0px !important;
	}
	.User_Profile_Block .dropdown-menu.show  {
		left: -40px !important; 
	}
	.sort_details_row{
		margin-top: 16px;
	}
	.all_demo_student_block .card-header button, .filter_ratio .card-header button{
		font-size: 14px;
	}
	.modal-title{
		font-size: 14px;
	}
	#student_datails_modal .modal-header .btn-group button {
	    margin: 0 2px;
	    padding: 2px 6px;
	}/*
	.modal{
		margin: 0 !important;
		padding: 0 !important;
	}*/
	.filter_ratio .modal-lg {
	    max-width: inherit !important;
	}
	.demo_details_block .nav-tabs{
		flex-wrap: wrap;
		display: inline-block;
		width: 100%;
		text-align: center; 
	}
	.demo_details_block .nav-tabs .nav-item .nav-link{
		margin: 5px 0;
	}
	#add_ramark,
	#demo_discard{
		padding: 0 15px !important;
	}

	.side_Menu{
		padding-top: 94px;
		transform: translateX(-258px);
	}
	.create_responsive_table tr td{
		flex-direction: column;
	}
	.create_responsive_table tr td button{
		width: fit-content;
	}
	.modal.fade.show{
		padding-right: 0 !important; 
	}
}
